* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

div {
    display: flex;
    box-sizing: border-box;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.LandingPage_Design {
    display: flex;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(83, 83, 81);
}